.navbar-list {
  background-color: #fbefe2;
  justify-content: space-between;
  list-style: none;
  display: flex;
  color: rgba(83, 177, 117, 1);
  padding: 1.5rem;
  border-radius: 10px;
}
.button {
  color: rgb(69, 150, 99);
  margin-left: 70em;
  background-color: white;
  font-weight: 700;
}
