.register-form {
  font-size: larger;
  font-weight: 700;
  margin-top: 100px;
  .input-wrapper {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 5px;
    }
    input {
      font-weight: 600;
      color: #435c4a;
      padding: 15px 10px;
      border-radius: 10px;
      outline: none;
      border: none;
      background-color: #fff3f3;
      border: 3px solid transparent;
      box-shadow: 0 1px 15px rgba(108, 106, 106, 0.25);
      &:focus {
        border: 3px solid #53b175;
      }
    }
  }
  .botton-signUp {
    color: #fff3f3;
    background-color: rgba(59, 58, 93, 1);
    white-space: nowrap;
    font-weight: 700;
    margin-top: 50px;
    align-self: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    &:hover {
      background-color: rgb(69, 68, 107);
    }
  }
  .button-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.title {
  color: #000000;
  margin: 40px;
  font-size: 30px;
  font-weight: 800;
}
